<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <application>
        <service
            android:name="org.voxity.dialer.services.DialerInCallService"
            android:exported="true"
            android:permission="android.permission.BIND_INCALL_SERVICE"
            android:foregroundServiceType="microphone">

            <meta-data
                android:name="android.telecom.IN_CALL_SERVICE_UI"
                android:value="true" />
            <meta-data
                android:name="android.telecom.IN_CALL_SERVICE_RINGING"
                android:value="true" />
            <meta-data
                android:name="dialer.INCALL_ACTIVITY"
                android:value="" />

            <intent-filter android:priority="1000">
                <action android:name="android.telecom.InCallService" />
            </intent-filter>
        </service>

        <receiver
            android:name="org.voxity.dialer.receivers.CallActionReceiver"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>